body {
    background-color: #ced4da;
    height: 100%;
}

button {
    cursor: pointer;
}

.container {
    padding: 100px 50px;
}

.row {
    justify-content: center;
}

.title {
    text-align: center;
    width: 100%;
}

.filter-list {
    margin-top: 50px;
}

.filter-block {
    background: #f8f9fa;
    border-radius: 15px;
    display: flex;
    margin: 10px 5px;
    padding: 5px 10px;
}

.filter-block > h1 {
    font-weight: 100;
}