body {
    background-color: #ced4da;
    font-family: 'Arimo', sans-serif;
    height: 100%;
}

button {
    cursor: pointer;
}

.container {
    padding: 100px 50px;
}

.row {
    justify-content: center;
}

.center-text {
    color: #2f353a;
    text-align: center;
    width: 100%;
}

.title {
    font-size: 64px;
    font-weight: bold;
}

.form-inline {
    margin-top: 16px;
}

.filter-list {
    margin-top: 50px;
}

.filter-block {
    background: #f8f9fa;
    border-radius: 15px;
    display: flex;
    margin: 10px 5px;
    padding: 5px 10px;
}

.filter-name {
    font-family: 'Inconsolata', monospace;
    margin-left: 4px;
    margin-right: 20px;
}